In [1]:
import pandas as pd
df=pd.read_csv('/content/nba.csv')
print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

# 1. Selection and Slicing:

**Basic selection: Select the first rows of the dataset.**

In [2]:
print(df.head(10))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8   Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9   Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0

**Selection by columns: Select the Name and Team columns for the first 20 players.**

In [3]:
print(df[['Name','Team']].head(20))

                       Name            Team
0             Avery Bradley  Boston Celtics
1               Jae Crowder  Boston Celtics
2              John Holland  Boston Celtics
3               R.J. Hunter  Boston Celtics
4             Jonas Jerebko  Boston Celtics
5              Amir Johnson  Boston Celtics
6             Jordan Mickey  Boston Celtics
7              Kelly Olynyk  Boston Celtics
8              Terry Rozier  Boston Celtics
9              Marcus Smart  Boston Celtics
10          Jared Sullinger  Boston Celtics
11            Isaiah Thomas  Boston Celtics
12              Evan Turner  Boston Celtics
13              James Young  Boston Celtics
14             Tyler Zeller  Boston Celtics
15         Bojan Bogdanovic   Brooklyn Nets
16             Markel Brown   Brooklyn Nets
17          Wayne Ellington   Brooklyn Nets
18  Rondae Hollis-Jefferson   Brooklyn Nets
19             Jarrett Jack   Brooklyn Nets

**Using loc: Use the loc method to select all players from the Boston Celtics**

In [4]:
print(df.loc[df['Team'] == 'Boston Celtics'])

               Name            Team  Number Position   Age Height  Weight  \
0     Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1       Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2      John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3       R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4     Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5      Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6     Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7      Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8      Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9      Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0
10  Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0
11    Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9   185.0
12      Evan Turner  Boston Celtics    11.0       SG  27.0    6-7   220.0
13      James Young  Boston Celtics    13.0       SG  20.0    6-6   215.0
14     Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0   253.0

              College      Salary
0               Texas   7730337.0
1           Marquette   6796117.0
2   Boston University         NaN
3       Georgia State   1148640.0
4                 NaN   5000000.0
5                 NaN  12000000.0
6                 LSU   1170960.0
7             Gonzaga   2165160.0
8          Louisville   1824360.0
9      Oklahoma State   3431040.0
10         Ohio State   2569260.0
11         Washington   6912869.0
12         Ohio State   3425510.0
13           Kentucky   1749840.0
14     North Carolina   2616975.0

**Using iloc: Use the iloc method to select the rows for players who have indices between 10 and 20.**

In [5]:
print(df.iloc[10:21])

                       Name            Team  Number Position   Age Height  \
10          Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9
11            Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9
12              Evan Turner  Boston Celtics    11.0       SG  27.0    6-7
13              James Young  Boston Celtics    13.0       SG  20.0    6-6
14             Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0
15         Bojan Bogdanovic   Brooklyn Nets    44.0       SG  27.0    6-8
16             Markel Brown   Brooklyn Nets    22.0       SG  24.0    6-3
17          Wayne Ellington   Brooklyn Nets    21.0       SG  28.0    6-4
18  Rondae Hollis-Jefferson   Brooklyn Nets    24.0       SG  21.0    6-7
19             Jarrett Jack   Brooklyn Nets     2.0       PG  32.0    6-3
20           Sergey Karasev   Brooklyn Nets    10.0       SG  22.0    6-7

    Weight         College     Salary
10   260.0      Ohio State  2569260.0
11   185.0      Washington  6912869.0
12   220.0      Ohio State  3425510.0
13   215.0        Kentucky  1749840.0
14   253.0  North Carolina  2616975.0
15   216.0             NaN  3425510.0
16   190.0  Oklahoma State   845059.0
17   200.0  North Carolina  1500000.0
18   220.0         Arizona  1335480.0
19   200.0    Georgia Tech  6300000.0
20   208.0             NaN  1599840.0

# 2. Adding/Deleting Rows and Columns:

**Add a column: Add a new column named Experience, calculated as 2024 - Age**

In [6]:
df['Experience'] = 2024 - df['Age']
print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary  Experience
0                Texas  7730337.0      1999.0
1            Marquette  6796117.0      1999.0
2    Boston University        NaN      1997.0
3        Georgia State  1148640.0      2002.0
4                  NaN  5000000.0      1995.0
..                 ...        ...         ...
453             Butler  2433333.0      1998.0
454                NaN   900000.0      2000.0
455                NaN  2900000.0      1998.0
456             Kansas   947276.0      1998.0
457                NaN        NaN         NaN

[458 rows x 10 columns]

**	Delete a column: Delete the College column from the dataset.**

In [7]:
df.drop(columns=['College'], inplace=True)
print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

        Salary  Experience
0    7730337.0      1999.0
1    6796117.0      1999.0
2          NaN      1997.0
3    1148640.0      2002.0
4    5000000.0      1995.0
..         ...         ...
453  2433333.0      1998.0
454   900000.0      2000.0
455  2900000.0      1998.0
456   947276.0      1998.0
457        NaN         NaN

[458 rows x 9 columns]

**Add a row: Add a new player to the dataset with custom values for each column.**

In [8]:
new_player = pd.DataFrame([{
    'Name': 'John Doe',
    'Team': 'Los Angeles Lakers',
    'Position': 'Guard',
    'Age': 25,
    'Height': "6'3\"",
    'Weight': 190,
    'Experience': 2024 - 25
}])
df = pd.concat([df, new_player], ignore_index=True)
print(df.tail())

             Name                Team  Number Position   Age Height  Weight  \
454     Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
455  Tibor Pleiss           Utah Jazz    21.0        C  26.0    7-3   256.0
456   Jeff Withey           Utah Jazz    24.0        C  26.0    7-0   231.0
457           NaN                 NaN     NaN      NaN   NaN    NaN     NaN
458      John Doe  Los Angeles Lakers     NaN    Guard  25.0   6'3"   190.0

        Salary  Experience
454   900000.0      2000.0
455  2900000.0      1998.0
456   947276.0      1998.0
457        NaN         NaN
458        NaN      1999.0

**Delete a row: Delete the row corresponding to the player "Avery Bradley".**

In [9]:
df = df[df['Name'] != 'Avery Bradley']
print(df)

              Name                Team  Number Position   Age Height  Weight  \
1      Jae Crowder      Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland      Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter      Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko      Boston Celtics     8.0       PF  29.0   6-10   231.0
5     Amir Johnson      Boston Celtics    90.0       PF  29.0    6-9   240.0
..             ...                 ...     ...      ...   ...    ...     ...
454      Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss           Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey           Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN                 NaN     NaN      NaN   NaN    NaN     NaN
458       John Doe  Los Angeles Lakers     NaN    Guard  25.0   6'3"   190.0

         Salary  Experience
1     6796117.0      1999.0
2           NaN      1997.0
3     1148640.0      2002.0
4     5000000.0      1995.0
5    12000000.0      1995.0
..          ...         ...
454    900000.0      2000.0
455   2900000.0      1998.0
456    947276.0      1998.0
457         NaN         NaN
458         NaN      1999.0

[458 rows x 9 columns]

# 3. Boolean Indexing and Masking:

**Salary filter: Use boolean indexing to filter out players whose salary is more than $5,000,000.**

In [10]:
print(df[df['Salary'] > 5000000])

                 Name                    Team  Number Position   Age Height  \
1         Jae Crowder          Boston Celtics    99.0       SF  25.0    6-6
5        Amir Johnson          Boston Celtics    90.0       PF  29.0    6-9
11      Isaiah Thomas          Boston Celtics     4.0       PG  27.0    5-9
19       Jarrett Jack           Brooklyn Nets     2.0       PG  32.0    6-3
23        Brook Lopez           Brooklyn Nets    11.0        C  28.0    7-0
..                ...                     ...     ...      ...   ...    ...
433  Gerald Henderson  Portland Trail Blazers     9.0       SG  28.0    6-5
434       Chris Kaman  Portland Trail Blazers    35.0        C  34.0    7-0
444        Alec Burks               Utah Jazz    10.0       SG  24.0    6-6
446    Derrick Favors               Utah Jazz    15.0       PF  24.0   6-10
448    Gordon Hayward               Utah Jazz    20.0       SF  26.0    6-8

     Weight      Salary  Experience
1     235.0   6796117.0      1999.0
5     240.0  12000000.0      1995.0
11    185.0   6912869.0      1997.0
19    200.0   6300000.0      1992.0
23    275.0  19689000.0      1996.0
..      ...         ...         ...
433   215.0   6000000.0      1996.0
434   265.0   5016000.0      1990.0
444   214.0   9463484.0      2000.0
446   265.0  12000000.0      2000.0
448   226.0  15409570.0      1998.0

[143 rows x 9 columns]

**Height filter: Use boolean indexing to find all players who are taller than 6 feet 6 inches.**

In [13]:
def height_in_float(height):
    # Handle missing or invalid height formats
    if isinstance(height, str) and '-' in height:  # Check if the height is a string with a hyphen
        feet, inches = map(int, height.split('-'))
        return feet + inches / 12
    # Attempt to convert height to float if it is not already a float
    elif isinstance(height, str):
        try:
            return float(height)  # Converts height to float if possible
        except ValueError:
            return float('nan')  # Returns NaN for invalid float conversions
    else:
        return height  # Return the original value if it cannot be converted

df['Height_inches'] = df['Height'].apply(height_in_float)
tall_players = df[df['Height_inches'] > 6.5]  # Removed the unnecessary 'print' inside the assignment
print(tall_players)

                Name            Team  Number Position   Age Height  Weight  \
4      Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5       Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6      Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7       Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
10   Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0
..               ...             ...     ...      ...   ...    ...     ...
449      Rodney Hood       Utah Jazz     5.0       SG  23.0    6-8   206.0
450       Joe Ingles       Utah Jazz     2.0       SF  28.0    6-8   226.0
452       Trey Lyles       Utah Jazz    41.0       PF  20.0   6-10   234.0
455     Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456      Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0

         Salary  Experience  Height_inches
4     5000000.0      1995.0       6.833333
5    12000000.0      1995.0       6.750000
6     1170960.0      2003.0       6.666667
7     2165160.0      1999.0       7.000000
10    2569260.0      2000.0       6.750000
..          ...         ...            ...
449   1348440.0      2001.0       6.666667
450   2050000.0      1996.0       6.666667
452   2239800.0      2004.0       6.833333
455   2900000.0      1998.0       7.250000
456    947276.0      1998.0       7.000000

[275 rows x 10 columns]

**Null values filter: Use boolean indexing to identify players with missing salary or college information.**

In [14]:
if 'College' in df.columns:
    info = df[df['Salary'].isnull() | df['College'].isnull()]
else:
    info= df[df['Salary'].isnull()]
print(info)

               Name                    Team  Number Position   Age Height  \
2      John Holland          Boston Celtics    30.0       SG  27.0    6-5
46      Elton Brand      Philadelphia 76ers    42.0       PF  37.0    6-9
171   Dahntay Jones     Cleveland Cavaliers    30.0       SG  35.0    6-6
264   Jordan Farmar       Memphis Grizzlies     4.0       PG  29.0    6-2
269    Ray McCallum       Memphis Grizzlies     5.0       PG  24.0    6-3
270  Xavier Munford       Memphis Grizzlies    14.0       PG  24.0    6-3
273  Alex Stepheson       Memphis Grizzlies    35.0       PF  28.0   6-10
350   Briante Weber              Miami Heat    12.0       PG  23.0    6-2
353   Dorell Wright              Miami Heat    11.0       SF  30.0    6-9
397    Axel Toupane          Denver Nuggets     6.0       SG  23.0    6-7
409      Greg Smith  Minnesota Timberwolves     4.0       PF  25.0   6-10
457             NaN                     NaN     NaN      NaN   NaN    NaN
458        John Doe      Los Angeles Lakers     NaN    Guard  25.0   6'3"

     Weight  Salary  Experience  Height_inches
2     205.0     NaN      1997.0       6.416667
46    254.0     NaN      1987.0       6.750000
171   225.0     NaN      1989.0       6.500000
264   180.0     NaN      1995.0       6.166667
269   190.0     NaN      2000.0       6.250000
270   180.0     NaN      2000.0       6.250000
273   270.0     NaN      1996.0       6.833333
350   165.0     NaN      2001.0       6.166667
353   205.0     NaN      1994.0       6.750000
397   210.0     NaN      2001.0       6.583333
409   250.0     NaN      1999.0       6.833333
457     NaN     NaN         NaN            NaN
458   190.0     NaN      1999.0            NaN

# 4. Creating Series and DataFrames:

**Convert to Series: Convert the Name column to a Pandas Series.**

In [15]:
myvar=pd.Series(df['Name'])
print(myvar)

1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
5       Amir Johnson
           ...
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
458         John Doe
Name: Name, Length: 458, dtype: object

**Sub DataFrame: Create a new DataFrame containing only players who play the PG or SG position.**

In [16]:
print(df[df['Position'].isin(['PG', 'SG'])])

              Name            Team  Number Position   Age Height  Weight  \
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
8     Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9     Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0
11   Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9   185.0
..             ...             ...     ...      ...   ...    ...     ...
444     Alec Burks       Utah Jazz    10.0       SG  24.0    6-6   214.0
445     Dante Exum       Utah Jazz    11.0       PG  20.0    6-6   190.0
449    Rodney Hood       Utah Jazz     5.0       SG  23.0    6-8   206.0
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0

        Salary  Experience  Height_inches
2          NaN      1997.0       6.416667
3    1148640.0      2002.0       6.416667
8    1824360.0      2002.0       6.166667
9    3431040.0      2002.0       6.333333
11   6912869.0      1997.0       5.750000
..         ...         ...            ...
444  9463484.0      2000.0       6.500000
445  3777720.0      2004.0       6.500000
449  1348440.0      2001.0       6.666667
453  2433333.0      1998.0       6.250000
454   900000.0      2000.0       6.083333

[193 rows x 10 columns]

# 5. Locating Specific Columns and Rows:

**Find specific player: Find the row corresponding to the player named "Jonas Jerebko".**

In [17]:
print(df[df['Name'] == 'Jonas Jerebko'])

            Name            Team  Number Position   Age Height  Weight  \
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

      Salary  Experience  Height_inches
4  5000000.0      1995.0       6.833333

**Player and salary information: Use loc to display the Name and Salary of players who are older than 25 years.**

In [18]:
print(df.loc[df['Age'] > 25, ['Name', 'Salary']])

              Name      Salary
2     John Holland         NaN
4    Jonas Jerebko   5000000.0
5     Amir Johnson  12000000.0
11   Isaiah Thomas   6912869.0
12     Evan Turner   3425510.0
..             ...         ...
450     Joe Ingles   2050000.0
451  Chris Johnson    981348.0
453   Shelvin Mack   2433333.0
455   Tibor Pleiss   2900000.0
456    Jeff Withey    947276.0

[258 rows x 2 columns]

**Height and weight data: Use iloc to display only the Height and Weight of the first 50 players.**

In [19]:
data = df.iloc[:50, df.columns.get_loc('Height'):df.columns.get_loc('Weight') + 1]
print(data)

   Height  Weight
1     6-6   235.0
2     6-5   205.0
3     6-5   185.0
4    6-10   231.0
5     6-9   240.0
6     6-8   235.0
7     7-0   238.0
8     6-2   190.0
9     6-4   220.0
10    6-9   260.0
11    5-9   185.0
12    6-7   220.0
13    6-6   215.0
14    7-0   253.0
15    6-8   216.0
16    6-3   190.0
17    6-4   200.0
18    6-7   220.0
19    6-3   200.0
20    6-7   208.0
21    6-4   219.0
22   5-11   175.0
23    7-0   275.0
24   6-11   200.0
25   6-10   220.0
26   6-10   237.0
27   6-10   248.0
28    6-3   205.0
29    6-8   221.0
30    6-5   210.0
31    6-9   220.0
32    6-7   205.0
33    6-8   240.0
34    6-3   200.0
35    6-8   210.0
36    6-2   200.0
37    6-4   195.0
38    7-0   255.0
39   6-10   250.0
40    7-3   240.0
41   6-10   278.0
42    6-8   235.0
43    6-7   195.0
44    6-8   240.0
45    6-6   205.0
46    6-9   254.0
47    6-0   201.0
48    6-9   215.0
49    7-0   250.0
50    6-8   210.0

# 6. Data Cleaning:

**Missing data: Identify all rows where the Salary column has missing values.**

In [20]:
print(df[df['Salary'].isnull()])

               Name                    Team  Number Position   Age Height  \
2      John Holland          Boston Celtics    30.0       SG  27.0    6-5
46      Elton Brand      Philadelphia 76ers    42.0       PF  37.0    6-9
171   Dahntay Jones     Cleveland Cavaliers    30.0       SG  35.0    6-6
264   Jordan Farmar       Memphis Grizzlies     4.0       PG  29.0    6-2
269    Ray McCallum       Memphis Grizzlies     5.0       PG  24.0    6-3
270  Xavier Munford       Memphis Grizzlies    14.0       PG  24.0    6-3
273  Alex Stepheson       Memphis Grizzlies    35.0       PF  28.0   6-10
350   Briante Weber              Miami Heat    12.0       PG  23.0    6-2
353   Dorell Wright              Miami Heat    11.0       SF  30.0    6-9
397    Axel Toupane          Denver Nuggets     6.0       SG  23.0    6-7
409      Greg Smith  Minnesota Timberwolves     4.0       PF  25.0   6-10
457             NaN                     NaN     NaN      NaN   NaN    NaN
458        John Doe      Los Angeles Lakers     NaN    Guard  25.0   6'3"

     Weight  Salary  Experience  Height_inches
2     205.0     NaN      1997.0       6.416667
46    254.0     NaN      1987.0       6.750000
171   225.0     NaN      1989.0       6.500000
264   180.0     NaN      1995.0       6.166667
269   190.0     NaN      2000.0       6.250000
270   180.0     NaN      2000.0       6.250000
273   270.0     NaN      1996.0       6.833333
350   165.0     NaN      2001.0       6.166667
353   205.0     NaN      1994.0       6.750000
397   210.0     NaN      2001.0       6.583333
409   250.0     NaN      1999.0       6.833333
457     NaN     NaN         NaN            NaN
458   190.0     NaN      1999.0            NaN

**Replace missing data: Replace missing values in the Salary column with the mean salary of all players.**

In [21]:
x = df['Salary'].mean()
df['Salary'].fillna(x, inplace=True)
print(df['Salary'])

1      6.796117e+06
2      4.836195e+06
3      1.148640e+06
4      5.000000e+06
5      1.200000e+07
           ...
454    9.000000e+05
455    2.900000e+06
456    9.472760e+05
457    4.836195e+06
458    4.836195e+06
Name: Salary, Length: 458, dtype: float64

<ipython-input-21-8148ec1adaa8>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(x, inplace=True)

**Drop missing data: Drop all rows where any column has missing data.**

In [22]:
print(df.dropna())

              Name            Team  Number Position   Age Height  Weight  \
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5     Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
..             ...             ...     ...      ...   ...    ...     ...
452     Trey Lyles       Utah Jazz    41.0       PF  20.0   6-10   234.0
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0

           Salary  Experience  Height_inches
1    6.796117e+06      1999.0       6.500000
2    4.836195e+06      1997.0       6.416667
3    1.148640e+06      2002.0       6.416667
4    5.000000e+06      1995.0       6.833333
5    1.200000e+07      1995.0       6.750000
..            ...         ...            ...
452  2.239800e+06      2004.0       6.833333
453  2.433333e+06      1998.0       6.250000
454  9.000000e+05      2000.0       6.083333
455  2.900000e+06      1998.0       7.250000
456  9.472760e+05      1998.0       7.000000

[456 rows x 10 columns]

**Inconsistent data: convert the Height column to float format.**

In [25]:
def height_in_float(height):
    # Handle missing or invalid height formats
    if isinstance(height, str) and '-' in height:  # Check if the height is a string with a hyphen
        feet, inches = map(int, height.split('-'))
        return feet + inches / 12
    # Attempt to convert height to float if it is not already a float
    elif isinstance(height, str):
        try:
            return float(height)  # Converts height to float if possible
        except ValueError:
            return float('nan')  # Returns NaN for invalid float conversions
    else:
        return height  # Return the original value if it cannot be converted

df['New_Height'] = df['Height'].apply(height_in_float)
df

,Name,Team,Number,Position,Age,Height,Weight,Salary,Experience,Height_inches,New_Height
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,6.796117e+06,1999.0,6.500000,6.500000
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,4.836195e+06,1997.0,6.416667,6.416667
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,1.148640e+06,2002.0,6.416667,6.416667
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,5.000000e+06,1995.0,6.833333,6.833333
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,1.200000e+07,1995.0,6.750000,6.750000
...,...,...,...,...,...,...,...,...,...,...,...
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,9.000000e+05,2000.0,6.083333,6.083333
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,2.900000e+06,1998.0,7.250000,7.250000
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,9.472760e+05,1998.0,7.000000,7.000000
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.836195e+06,NaN,NaN,NaN
458,John Doe,Los Angeles Lakers,NaN,Guard,25.0,"6'3""",190.0,4.836195e+06,1999.0,NaN,NaN